<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h1>Inicio de Sesión</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" placeholder="Ingrese su nombre de usuario" required />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Ingrese su contraseña" required />
    </div>
    <div>
        <button type="submit">Ingresar</button>
    </div>
    <div th:if="${param.error}">
        <p style="color:red;">Credenciales incorrectas, intente de nuevo.</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color:green;">Sesión cerrada exitosamente.</p>
    </div>
</form>
</body>
</html>
